<p id="notice"><%= notice %></p>

<h2>IMPORT</h2>
<p>
  <b>Name:</b>
  <%= @stat.name %>
</p>

<p>
  <b>Fileupload:</b>
  <%= @stat.fileupload %>
</p>

<p> <%= @test %> </p>
<p><%= "#{Rails.root}/public#{@stat.fileupload}" %></p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
